body {
  background-color: var(--purple-100);
  font-family: var(--ff-primary)
}

.header {
  color: var(--purple-950);
  gap: var(--spacing-300);
}

.faq-container {
  background-color: var(--white);
  padding: var(--spacing-500);
  border-radius: 16px;
  width: 600px;
  height: 565px;
}

.acc-item:not(:last-child) {
  border-bottom: 1px solid var(--purple-100);
}



.acc-btn {
  display: flex;
  gap: var(--spacing-200);
  padding: var(--spacing-300);
  background: none;
  color: var(--purple-950);
  border: none;
  font-weight: var(--fw-2);
  font-size: var(--fs-2);
}

.acc-icon {
  width: 24px;
  height: 24px;
  display: grid;
  place-items: center;
  border-radius: 999px;
  background: var(--clr-purple-100);
  color: var(--clr-violet-600);
  font-weight: 700;
  line-height: 1;
}

/* הפאנל סגור כברירת מחדל */
.acc-panel {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.25s ease, opacity 0.25s ease;
  opacity: 0;
}
.acc-panel__inner {
  overflow: hidden;
}
.acc-panel p {
  color: var(--purple-600);
}

/* כשפתוח – מחליפים מחלקה ב-JS */
.acc-item.is-open .acc-panel {
  grid-template-rows: 1fr;
  opacity: 1;
}


