:root {
  
  /* === Base Colors === */
  --white: #ffffff;
  --black: #000000;

  /* === Purple Shades === */
  --purple-950: #301534;
  --purple-600: #8b6990;
  --purple-100: #f8eeff;

  /* === Violet === */
  --violet-600: #ad28eb;

  /* === Spacing === */
  --spacing-100: 8px;
  --spacing-200: 16px;
  --spacing-300: 24px;
  --spacing-400: 32px;
  --spacing-500: 40px;

  /* === Font Family === */
  --ff-primary: 'Work Sans', sans-serif;

  /* === Text Preset 1 === */
  --fs-1: 56px;
  --lh-1: 66px;
  --fw-1: 700; /* Bold */
  --ls-1: 0;

  /* === Text Preset 2 === */
  --fs-2: 18px;
  --lh-2: 21px;
  --fw-2: 600; /* SemiBold */
  --ls-2: 0;

  /* === Text Preset 3 === */
  --fs-3: 16px;
  --lh-3: 24px;
  --fw-3: 400; /* Regular */
  --ls-3: 0;
}


@font-face {
  font-family: "Work Sans";
  src: url("../assets/font/WorkSans-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
